body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body,
html {
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:focus-visible {
    outline: none;
}

a:hover {
    color: unset;
}

input:focus-visible {
    outline: none;
}

.flex_align {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex_bt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1570px;
    width: 100%;
}

h4 {
    font-size: 50px;
    line-height: 58px;
    font-weight: 500;
}

h5 {
    font-size: 38px;
    line-height: 43px;
    font-weight: 700;
}

h6 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 300;
    color: #4B4B4B;
}

// navbar start 
.nav_wrapper {
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, .175) !important;
    margin-bottom: 6px;
    position: fixed;
    width: 100%;
    background-color: #fff;
    z-index: 99999;

    .nav_logo {
        max-width: 215px;
        width: 100%;
    }

    .nav-item {
        .nav-link {
            font-size: 16px;
            line-height: 18px;
            font-weight: 700;
            padding: 0;
            color: #603D12;
        }
    }

    .custom_gap {
        gap: 0 50px;
    }

    .navbar {
        height: 115px;
        padding: 0;
    }
}

// hero_wrap start 
.hero_wrap {
    background-image: url('../img/hero_bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: calc(100vh - 120px);
    margin-top: 115px;

    .hero_logo {
        max-width: 600px;
        width: 100%;
        margin-bottom: 70px;
    }

    .hero_inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.clr_gold {
    color: #C28F50 !important;
}

// game_changer start 
.game_changer {
    padding-top: 285px;
    background-image: url(../img/gamechnager_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    &::before {
        content: "";
        background-image: url(../img/gamechanger_logo.svg);
        background-size: 148px;
        width: 148px;
        height: 121px;
        position: absolute;
        background-repeat: no-repeat;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
    }

    .container {
        max-width: 1360px;
        width: 100%;
    }

    h5 {
        max-width: 700px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        position: relative;
        padding-bottom: 45px;
        margin-bottom: 50px;

        &::before {
            content: "";
            background-color: #033127;
            border-radius: 10px;
            width: 120px;
            height: 8px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%, 0%);
        }
    }

    .pledge_text {
        max-width: 750px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        span {
            font-weight: 700;
        }
    }

    .gamechanger_text {
        color: #603D12 !important;
        font-weight: 600 !important;
        text-align: center;
        position: relative;
        margin-bottom: 270px;
        margin-top: 220px;

        &::before {
            content: "";
            background-image: url(../img/quote_upper.svg);
            background-size: 69px;
            background-repeat: no-repeat;
            width: 69px;
            height: 45px;
            position: absolute;
            left: -15px;
            top: -10px;
        }

        &::after {
            content: "";
            background-image: url(../img/quote_lower.svg);
            background-size: 69px;
            background-repeat: no-repeat;
            width: 69px;
            height: 45px;
            position: absolute;
            right: 50px;
            bottom: -10px;
        }
    }

    .our_clients {
        max-width: 1190px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 320px;

        .client_inner {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 75px;
            margin-top: 120px;
        }

        .client_box {
            text-align: center;
            max-width: 540px;
            width: 100%;
        }

        h3 {
            font-size: 25px;
            line-height: 25px;
            font-weight: 700;
            color: #4B4B4B;
            margin-top: 50px;
            margin-bottom: 70px;
        }

        .clinet_img {
            max-width: 165px;
            width: 100%;
            margin: auto;
        }

    }

    .our_certificates {
        padding-bottom: 470px;

        .client_inner {
            justify-content: center;
            gap: 30px;
        }

        .see_more {
            color: #C28F50;
            display: flex;
            align-items: center;
            font-weight: 700;
            gap: 10px;
            justify-content: center;

            img {
                width: 20px;
            }
        }

        .client_box {
            max-width: 466px;
            background-color: #fff;
            border-radius: 13px;
            padding-bottom: 20px;
        }

        .certificate_img {
            max-width: 466px;
        }

        h3 {
            max-width: 370px;
            width: 100%;
            line-height: 30px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }
    }

}

// goverance_wrap start 
.goverance_wrap {
    padding-top: 750px;

    .goverance_inner {
        display: flex;
        position: relative;
        margin-bottom: 1000px;

        h1 {
            font-size: 100px;
            line-height: 115px;
            font-weight: 700;
            color: #603D12;
            margin-bottom: 110px;
            max-width: 595px;
            width: 100%;
            margin-left: auto;
        }

        .goverance_content {
            text-align: end;
            margin-right: 145px;
            margin-left: 0;

            h6 {
                max-width: 560px;
                width: 100%;
                margin-left: auto;
            }
        }

        .goverance_img {
            max-width: 960px;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: translate(0%, -50%);
            right: -12.5%;

            img {
                border-radius: 100px 0 100px 0;
                box-shadow: 0 1rem 5rem rgba(0, 0, 0, .175) !important;
            }
        }

        ul {
            margin-top: 15px;
            list-style: none;

            li {
                position: relative;
                padding-left: 25px;
                margin-bottom: 10px;

                &::before {
                    content: "";
                    background-color: #C28F50;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translate(0px, -50%);
                }
            }
        }

        .who_we_are {
            margin-bottom: 50px;
        }

        h5 {
            color: #C28F50;
            margin-bottom: 30px;
        }
    }

    .goverance__inner {
        justify-content: end;

        h1 {
            margin-right: auto;
            text-align: start;
            margin-left: 0;
        }

        .goverance_content {
            text-align: start;
            margin-left: 145px;
            margin-right: 0;

            h6 {
                margin-left: 0;
                margin-right: auto;
                text-align: start;
            }
        }

        .goverance_img {
            top: 50%;
            transform: translate(0%, -50%);
            left: -12.5%;
        }
    }


}

// footer start 
.footer_wrap {
    margin-top: 415px;
    background-color: #C28F50;
    padding: 65px 0;
    position: unset;

    .footer_ul {
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 50px;
        margin-top: 50px;
    }

    .footer_logo {
        max-width: 260px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .nav-link {
        color: #fff !important;
    }
}

// cert1 start 
.cert_wrap {
    background-image: url(../img/cert_page_bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0;
    height: 100vh;

    .go_back {
        font-size: 25px;
        line-height: 25px;
        font-weight: 700;
        color: #4B4B4B;
        display: flex;
        align-items: center;
        gap: 12px;

        img {
            width: 35px;
        }
    }

    .cert_img {
        max-width: 710px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &.cert_wrap2 {
        .cert_img {
            max-width: 1175px;
        }
    }

    &.cert_wrap3 {
        background-image: unset;
        height: auto;

        .cert_img {
            margin-bottom: 20px;
        }
    }

    &.cert_wrap4 {
        .cert_img {
            max-width: 1280px;
            height: 100%;

            img {
                object-fit: contain;
            }
        }
    }
}


// Responsive part start 
// Desktop 
// `xxl` applies to x-large devices (large desktops, less than 1400px)
@media (max-width: 1520.98px) {
    .nav_wrapper .nav_logo {
        max-width: 150px;
    }

    .container {
        max-width: 1390px;
    }

    .nav_wrapper .custom_gap {
        gap: 0 30px;
    }

    .nav_wrapper .nav-item .nav-link {
        font-size: 15px;
        line-height: 16px;
    }

    .nav_wrapper .navbar {
        height: 85px;
    }

    .hero_wrap {
        height: calc(100vh - 85px);
        margin-top: 89px;
    }

    .hero_wrap .hero_logo {
        max-width: 410px;
        margin-bottom: 30px;
    }

    h4 {
        font-size: 40px;
        line-height: 45px;
    }

    .game_changer {
        padding-top: 130px;
    }

    h5 {
        font-size: 28px;
        line-height: 30px;
    }

    .game_changer h5 {
        max-width: 570px;
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    h6 {
        font-size: 17px;
        line-height: 20px;
    }

    .game_changer .gamechanger_text {
        margin-bottom: 120px;
        margin-top: 110px;
    }

    .game_changer .our_clients .client_inner {
        margin-top: 50px;
        gap: 30px;
        justify-content: center;
    }

    .game_changer .our_clients h3 {
        font-size: 22px;
        line-height: 22px;
        margin-top: 15px;
        margin-bottom: 25px;
    }

    .game_changer .our_clients .clinet_img {
        max-width: 135px;
    }

    .game_changer .our_clients {
        padding-bottom: 140px;
    }

    .game_changer .our_certificates .certificate_img {
        max-width: 370px;
        width: 100%;
        margin: auto;
    }

    .game_changer .our_certificates .client_box {
        max-width: 380px;
    }

    .game_changer::before {
        background-size: 95px;
        width: 95px;
        height: 95px;
    }

    .goverance_wrap {
        padding-top: 570px;
    }

    .goverance_wrap .goverance_inner .goverance_img {
        max-width: 600px;
        right: -5%;
    }

    .goverance_wrap .goverance_inner .goverance_img img {
        box-shadow: 0 1rem 1.5rem rgba(0, 0, 0, .175) !important;
    }

    .goverance_wrap .goverance_inner h1 {
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 40px;
        max-width: 480px;
    }

    .goverance_wrap .goverance_inner .goverance_content {
        margin-right: 0 !important;
        margin-left: 70px;
        max-width: 700px;
        width: 100%;
    }

    .goverance_wrap .goverance__inner .goverance_content {
        margin-left: auto !important;
        margin-right: 50px !important;
    }

    .goverance_wrap .goverance_inner h5 {
        margin-bottom: 20px;
    }

    .goverance_wrap .goverance_inner .who_we_are {
        margin-bottom: 30px;
    }

    .goverance_wrap .goverance_inner {
        margin-bottom: 600px;
    }

    .footer_wrap {
        margin-top: 300px;
        padding: 30px 0;
    }

    .footer_wrap .footer_logo {
        max-width: 190px;
    }

    .goverance_wrap .goverance__inner .goverance_img {
        max-width: 600px;
        left: -5%;
    }

    // cert pages 
    .cert_wrap {
        padding: 30px 0;
    }

    .cert_wrap .go_back {
        font-size: 18px;
        line-height: 20px;
        gap: 5px;
    }

    .cert_wrap .go_back img {
        width: 20px;
    }

    .cert_wrap .cert_img {
        max-width: 475px;
    }
    .cert_wrap.cert_wrap2 .cert_img {
        max-width: 850px;
    }
    .cert_wrap.cert_wrap2 .cert_img img{
        object-fit: contain;
    }

}

// Ipad pro 
// `xl` applies to large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
    .nav_wrapper .nav_logo {
        max-width: 100px;
    }

    .nav_wrapper .custom_gap {
        gap: 0 15px;
    }

    .nav_wrapper .nav-item .nav-link {
        font-size: 14px;
    }

    .nav_wrapper .navbar {
        height: 65px;
    }

    .hero_wrap {
        height: calc(70vh - 65px);
        margin-top: 69px;
    }

    .hero_wrap .hero_logo {
        max-width: 280px;
        margin-bottom: 20px;
    }

    h4 {
        font-size: 25px;
        line-height: 35px;
    }

    .game_changer {
        padding-top: 70px;
    }

    .game_changer h5 {
        padding-bottom: 25px;
        margin-bottom: 25px;
    }

    h5 {
        font-size: 24px;
        line-height: 26px;
    }

    .game_changer h5::before {
        border-radius: 8px;
        width: 100px;
        height: 4px;
    }

    h6 {
        font-size: 16px;
        line-height: 18px;
    }

    .game_changer .gamechanger_text {
        margin-bottom: 60px;
        margin-top: 60px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .game_changer .gamechanger_text::before {
        background-size: 40px;
        left: -5px;
    }

    .game_changer .gamechanger_text::after {
        background-size: 40px;
        right: -45px;
    }

    .game_changer .our_clients .client_box {
        max-width: 400px;
    }

    .game_changer .our_clients .clinet_img {
        max-width: 100px;
    }

    .game_changer .our_clients {
        padding-bottom: 100px;
    }

    .game_changer .our_certificates .client_box {
        max-width: 320px !important;
    }

    .game_changer .our_clients h3 {
        font-size: 16px;
        line-height: 18px;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .goverance_wrap {
        padding-top: 390px;
    }

    .goverance_wrap .goverance_inner .goverance_img {
        max-width: 440px;
        right: -10px;
    }

    .goverance_wrap .goverance_inner .goverance_content {
        max-width: 430px;
    }

    .goverance_wrap .goverance_inner h1 {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 15px;
        max-width: 345px;
    }

    .goverance_wrap .goverance_inner {
        margin-bottom: 330px;
    }

    .goverance_wrap .goverance__inner .goverance_content {
        margin-right: 120px !important;
    }

    .goverance_wrap .goverance_inner ul li::before {
        width: 8px;
        height: 8px;
    }

    .footer_wrap {
        margin-top: 150px;
    }

    .footer_wrap .footer_logo {
        max-width: 150px;
    }

    .footer_wrap .footer_ul {
        gap: 20px;
        margin-top: 30px;
    }
}

// Ipad 
// `lg` applies to medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
    .nav_wrapper .navbar {
        height: auto;
        padding: 10px 0;
    }

    .nav_wrapper .custom_gap {
        gap: 10px;
        margin-top: 15px;
    }

    .hero_wrap {
        height: 50vh;
        margin-top: 62px;
    }

    .hero_wrap .hero_logo {
        max-width: 180px;
        margin-bottom: 15px;
    }

    h4 {
        font-size: 22px;
        line-height: 28px;
    }

    .game_changer {
        padding-top: 50px;
    }

    h5 {
        font-size: 20px;
        line-height: 22px;
    }

    .game_changer h5 {
        max-width: 510px;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .game_changer h5::before {
        border-radius: 8px;
        width: 70px;
    }

    .game_changer .gamechanger_text {
        margin-bottom: 35px;
        margin-top: 35px;
    }

    .game_changer .gamechanger_text::before {
        background-size: 30px;
        left: -20px;
        width: 40px;
        height: 45px;
    }

    .game_changer .gamechanger_text::after {
        background-size: 30px;
        right: -28px;
        width: 40px;
        height: 45px;
        bottom: 0px;
    }

    .game_changer .our_clients .client_box {
        max-width: 265px;
    }

    .game_changer .our_clients h3 {
        font-size: 15px;
        line-height: 18px;
        margin-top: 5px;
        margin-bottom: 10px;
    }

    .game_changer .our_clients {
        padding-bottom: 70px;
    }

    .game_changer .our_certificates .client_box {
        max-width: 240px !important;
    }

    .game_changer::before {
        background-size: contain;
        width: 65px;
        height: 65px;
    }

    .goverance_wrap {
        padding-top: 230px;
    }

    .goverance_wrap .goverance_inner .goverance_img {
        max-width: 330px;
    }

    .goverance_wrap .goverance_inner .goverance_content {
        max-width: 310px;
    }

    .goverance_wrap .goverance_inner h1 {
        font-size: 27px;
        line-height: 36px;
    }

    .goverance_wrap .goverance_inner {
        margin-bottom: 160px;
    }

    .goverance_wrap .goverance__inner .goverance_content {
        margin-right: 90px !important;
    }

    .goverance_wrap .goverance_inner .who_we_are {
        margin-bottom: 10px;
    }

    .goverance_wrap .goverance_inner h5 {
        margin-bottom: 10px;
    }

    .goverance_wrap .goverance_inner .goverance_img img {
        border-radius: 70px 0 70px 0;
    }

    .footer_wrap {
        margin-top: 70px;
    }

    .footer_wrap .footer_logo {
        max-width: 100px;
    }

    .footer_wrap .footer_ul {
        margin-top: 15px;
    }

    // cert pages 
    .cert_wrap .container {
        height: 100%;
    }

    .cert_wrap .cert_img {
        height: 100%;
    }
}

// mobile 
// `sm` applies to x-small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
    .nav_wrapper .navbar-toggler-icon {
        width: 1.2rem;
        height: 1.2em;
    }

    .nav_wrapper .navbar-toggler {
        padding: 3px 6px;
    }

    .nav_wrapper .nav_logo {
        max-width: 75px;
    }

    .nav_wrapper .navbar {
        padding: 5px 0;
    }

    .hero_wrap {
        margin-top: 53px;
    }

    .hero_wrap .hero_logo {
        max-width: 130px;
    }

    h4 {
        font-size: 16px;
        line-height: 20px;
    }

    h5 {
        font-size: 16px;
    }

    h6 {
        font-size: 15px;
    }

    .game_changer .gamechanger_text::before {
        background-size: contain;
        left: -18px;
        width: 20px;
        height: 20px;
        top: 0;
    }

    .game_changer .gamechanger_text::after {
        background-size: contain;
        right: -8px;
        width: 20px;
        height: 20px;
        bottom: -6px;
    }

    .game_changer .gamechanger_text {
        margin-left: auto;
        margin-right: auto;
        max-width: 320px;
        width: 100%;
    }

    .game_changer .our_clients .client_inner {
        margin-top: 30px;
        gap: 15px;
    }

    .game_changer .our_clients .client_box {
        max-width: 310px;
    }

    .game_changer .our_clients h3 {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .game_changer .our_certificates .see_more img {
        width: 16px;
    }

    .game_changer .our_certificates .see_more {
        gap: 5px;
    }

    .goverance_wrap {
        padding-top: 150px;
    }

    .goverance_wrap .goverance_inner .goverance_img {
        max-width: 330px;
        position: unset;
        transform: unset;
    }

    .goverance_wrap .goverance_inner {
        flex-wrap: wrap;
        margin-bottom: 100px;
        justify-content: center;
    }

    .goverance_wrap .goverance_inner .goverance_content {
        max-width: 100%;
        text-align: start;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .goverance_wrap .goverance_inner h1 {
        font-size: 22px;
        line-height: 30px;
        text-align: start;
    }

    .goverance_wrap .goverance_inner .goverance_img img {
        border-radius: 40px 0 40px 0;
    }

    .goverance_wrap .goverance__inner {
        flex-direction: column-reverse;
    }

    .goverance_wrap .goverance_inner ul li {
        padding-left: 15px;
    }

    .footer_wrap {
        padding: 15px 0;
    }

    .footer_wrap .footer_logo {
        max-width: 70px;
    }

    .footer_wrap .footer_ul {
        margin-top: 15px;
        flex-wrap: wrap;
        gap: 8px;
    }

    .nav_wrapper .nav-item .nav-link {
        font-size: 13px;
    }
    // cert pages 
    .cert_wrap .cert_img {
        max-width: 310px;
    }
    .cert_wrap .go_back {
        font-size: 15px;
    }
    .cert_wrap .go_back img {
        width: 15px;
    }
    .cert_wrap.cert_wrap3 .cert_img {
        margin-top: 20px;
    }
}